/* 🔹 Navbar sobre el Slider */
.navbar {
    position: fixed; /* Cambiado de absolute a fixed */
    top: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background:rgb(187, 187, 187);
    height: 50px;
    padding: 10px 15px;
    z-index: 1000;
    overflow: visible; /* deja que el logo sobresalga */
    align-items: center;
    transition: transform 0.3s ease-in-out; /*Animación para ocultar y mostrar */
}

/* Logo */
.logo {
    height: 75px;
    z-index: 1001;
}

/* Links del menú */
.nav-links {
    list-style: none;
    display: flex;
    gap: 10px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(255, 255, 204);
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(0, 0, 34);
    padding: 8px 20px;
    border-radius: 50px;
    display: inline-block;
}

.nav-links a:hover {
    color: rgb(187, 187, 187);
}

/* 🔹 Icono del Menú (Oculto en Desktop) */
.menu-icon {
    color: white;
    background-color: #0000006d;
    border-radius: 5px;
    padding: 3px 10px;
    display: none;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    z-index: 1002;
}

/* 🔹 Estilos responsivos para Navbar */
@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav-links {
        gap: 50px;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0px;
        right: 0;
        background: #000;
        width: 100%;
        text-align: center;
        padding: 100px;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links .top {
        margin-top: 50px;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links a {
        background-color: #d4d4d424;
        border-radius: 20px;
        padding: 5px 20px;
    }

    .navbar {
        padding: 15px;
    }
}

/* 🔹 Navbar oculto en scroll hacia abajo */
.navbar.hidden {
    transform: translateY(-200%); /* Desliza el navbar hacia arriba */
}

/* Segunda navbar */
.sub-navbar {
  margin-top: 100px;
  
}

.sub-navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.sub-navbar ul li {
  margin: 0 15px;
}
.sub-navbar ul li a {
  color: rgb(255, 255, 204);
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  background-color: rgb(204, 102, 0);
  padding: 6px 20px;
  border-radius: 20px;
}
.sub-navbar ul li a:hover {
  color: rgb(0, 0, 34);
}