.quienes-somos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 10px;
  margin: 20px;
  gap: 20px;
  flex-wrap: wrap;
}

.quienes-somos-texto {
  flex: 1;
  max-width: 45%;
  padding-right: 20px;
  padding-left: 30px;
}

.quienes-somos-texto h2 {
  font-size: 2.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.quienes-somos-texto p {
  font-size: 1.9rem;
  color: #333;
}

.cita {
  flex: 1;
  background-color: #f39c12;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  padding: 12vh 20px;
  text-align: center;
  max-width: 50%;
  box-sizing: border-box;
}

.cita p {
  padding: 20px;
  font-size: 5rem;
  font-style: italic;
  margin: 0;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .quienes-somos {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .quienes-somos-texto,
  .cita {
    max-width: 100%;
    flex: none;
  }

  .quienes-somos-texto h2 {
    font-size: 1.8rem;
  }

  .quienes-somos-texto p {
    font-size: 1.4rem;
  }

  .cita p {
    font-size: 1.8rem;
  }

  .cita {
    border-radius: 10px;
    font-size: 1rem;
    padding: 15px;
  }
}