.quienes-somos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 10px;
  margin: 20px;
  gap: 20px;
  flex-wrap: wrap;
}

.quienes-somos-texto {
  flex: 1;
  max-width: 45%;
  padding-right: 20px;
}

.quienes-somos-texto h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.quienes-somos-texto p {
  font-size: 1.5rem;
  color: #333;
}

.cita {
  flex: 1;
  background-color: #f39c12;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  padding: 25vh 20px;
  text-align: center;
  max-width: 45%;
  box-sizing: border-box;
}

.cita p {
  padding: 20px;
  font-size: 5rem;
  font-style: italic;
  margin: 0;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .quienes-somos {
    flex-direction: column;
    /* Cambia a columna para móviles */
    gap: 20px;
    /* Reduce el gap entre las secciones */
    padding: 20px;
  }

  .quienes-somos-texto,
  .cita {
    max-width: 100%;
    /* Asegura que ocupen todo el ancho disponible */
    flex: none;
    /* Desactiva el flex para que no se estiren */
  }

  .quienes-somos-texto h2 {
    font-size: 1.5rem;
    /* Reduce el tamaño del título */
  }

  .quienes-somos-texto p,
  .cita p {
    font-size: 1rem;
    /* Reduce el tamaño del texto */
  }

  .cita {
    font-size: 1rem;
    /* Tamaño de fuente ajustado para móvil */
    padding: 15px;
    /* Menos padding en móvil para ahorrar espacio */
  }
}